{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "singleQuote": true,
  "proseWrap": "always",
  "arrowParens": "avoid"
}